#faq {
  background: rgb(10, 168, 136);
  background: linear-gradient(
    90deg,
    rgba(10, 168, 136, 1) 25%,
    rgba(22, 131, 125, 100) 50%,
    rgba(10, 168, 136, 1) 75%
  );
}

.faqs {
  padding-left: 10%;
  padding-right: 10%;
}

.faqs .faq {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  border: 0.2rem solid #8ed14e;
  border-radius: 5rem;
  background-color: #0ca789;
  cursor: pointer;
  margin: 0 0 1rem 0;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 200%;
  margin-bottom: 1%;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) rotate(135deg);

  width: 5rem;
  height: 5rem;

  background-image: url("../../Images/leaf.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
  font-size: 150%;
  color: "#FFFFFF";
}

.faqs .faq.open .faq-question {
  margin-bottom: 30px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(45deg);
}

.faqs .faq.open .faq-answer {
  max-height: 150rem;
  opacity: 1;
}

@media (max-width: 2800px) {
  .faq-leaves {
    height: 60rem !important;
  }
}

@media (max-width: 2200px) {
  .faq-leaves {
    height: 50rem !important;
  }
}

/* @media (max-width: 1800px) {
  .faq-leaves {
    height: 70% !important;
  }
} */

@media (max-width: 900px) {
  .faq-leaves {
    height: 10% !important;
  }
}

@media (max-width: 800px) {
  .faqs .faq .faq-question::after {
    background-image: none;
  }
}

@media (max-width: 600px) {
  .faqs .faq .faq-question {
    position: relative;
    font-size: 150%;
    margin-bottom: 1%;
    transition: all 0.4s ease;
  }

  .faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
    font-size: 120%;
    color: "#FFFFFF";
  }
}
