.image-gallery {
  flex-wrap: nowrap;
  width: calc((250px + 2rem) * 53);
  animation: moveGallery 450s linear 3s infinite;
  overflow: hidden;
}

@keyframes moveGallery {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% + 270px));
  }
}

@media (max-width: 650px) {
  .gallery-leaves {
    height: 160px;
    width: 160px;
  }

  .image-gallery {
    width: calc((160px + 2rem) * 53);
  }
}

@media (max-width: 450px) {
  .gallery-leaves {
    height: 140px;
    width: 140px;
  }

  .image-gallery {
    width: calc((140px + 2rem) * 53);
  }
}
