.image-gallery {
  flex-wrap: nowrap;
  width: calc((300px + 2rem) * 53);
  animation: moveGallery 1050s linear 3s infinite;
  overflow: hidden;
}

.gallery-leaves {
  height: 300px;
  width: 300px;
  border-radius: 2rem;
}

@keyframes moveGallery {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% + 370px));
  }
}

/* @media (min-width: 2300px) {
  .gallery-leaves {
    height: 500px;
    width: 500px;
  }

  .image-gallery {
    width: calc((500px + 2rem) * 53);
  }
} */

@media (min-width: 1800px) {
  .gallery-leaves {
    height: 350px;
    width: 350px;
  }

  .image-gallery {
    width: calc((350px + 2rem) * 53);
  }
}

@media (max-width: 1200px) {
  .gallery-leaves {
    height: 250px;
    width: 250px;
  }

  .image-gallery {
    width: calc((250px + 2rem) * 53);
  }
}

@media (max-width: 650px) {
  .gallery-leaves {
    height: 160px;
    width: 160px;
  }

  .image-gallery {
    width: calc((160px + 2rem) * 53);
  }
}

@media (max-width: 450px) {
  .gallery-leaves {
    height: 140px;
    width: 140px;
  }

  .image-gallery {
    width: calc((140px + 2rem) * 53);
  }
}
