.underground-background {
  animation: moveBackgroundImage 40s linear 1s infinite;
  background-color: fade(#ffffff, 50%);
  opacity: 0.5;
}

.leaf-images:hover {
  /* height: 20rem;
  width: 20rem; */
  transition: 0.15s ease-in-out;
  z-index: 4 !important;
}

@keyframes moveBackgroundImage {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(-50rem, 0, 0);
  }
  75% {
    transform: translate3d(-10rem, 0, 0);
  }
}
