.underground-background {
  animation: moveBackgroundImage 40s linear 1s infinite;
  background-color: fade(#ffffff, 50%);
  opacity: 0.5;
}

.leaf-images:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2 !important;
}

@keyframes moveBackgroundImage {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(-50rem, 0, 0);
  }
  75% {
    transform: translate3d(-10rem, 0, 0);
  }
}
