body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #0ca789;
  /* position: relative; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: "#0CA789";
}

.gold-text {
  color: #c3a343;
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://theblogmarket.co/gold-texture-image.png) repeat;
  background: -o-linear-gradient(transparent, transparent);
  background-clip: text;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  background-color: #0ca789;
  /* overflow-x: hidden; */
}

@media (max-width: 900px) {
  body {
    position: relative;
  }
}
